github "t1dloop/LoopKit" "microboluses"
github "t1dloop/CGMBLEKit" "microboluses"
github "i-schuetz/SwiftCharts" == 0.6.5
github "t1dloop/dexcom-share-client-swift" "microboluses"
github "t1dloop/G4ShareSpy" "microboluses"
github "t1dloop/rileylink_ios" "microboluses"
github "LoopKit/Amplitude-iOS" "decreepify"
