github "t1dloop/LoopKit" "hondo"
github "t1dloop/CGMBLEKit" "hondo"
github "i-schuetz/SwiftCharts" == 0.6.5
github "t1dloop/dexcom-share-client-swift" "hondo"
github "t1dloop/G4ShareSpy" "hondo"
github "t1dloop/rileylink_ios" "hondo"
github "LoopKit/Amplitude-iOS" "decreepify"
